[submodule "dependencies/infomap"]
	path = dependencies/infomap
	url = https://github.com/mapequation/infomap.git
[submodule "dependencies/igraph"]
	path = dependencies/igraph
	url = https://github.com/igraph/igraph.git
[submodule "dependencies/verse"]
	path = dependencies/verse
	url = https://github.com/xgfs/verse.git
